.heading{
    text-align: center;
}

h1 {
    color: black;
    font-size: 250%;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
}

p {
    font-size: 180%;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

body {
    background-color: lightblue;
}

a {
    border: 1px solid #666666;
    border-radius: 5px;
    background: #cccccc;
    padding: 5px;
    font-size: 200%;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-align: center;
}
.tbl td {
    border: 1px solid #999999;
    padding: 3px;
}                
.tbl {
    width: 75%;
    border-collapse: collapse;
}
tr {
    background-color: #ffffff;
}
tr:nth-child(even){
    background-color: #f0f0f0;
}
tr:hover {
    background-color:#ffeeee;
}
.tbl th {
    padding: 3px;
    border: 1px black;
    background-color: #cccccc;
}
h2 {
    color: black;
    font-size: 180%;
    
}
